@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600;700&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  margin-top: 5rem;
}

/* header */
.navbar-brand-wrapper {
  position: absolute;
  z-index: 1;
  width: 42vw;
  height: 100%;
  margin: 0;
  background-color: rgb(170, 170, 187);
  transform: translate(-5vw, 0) skewX(-40deg);
  box-shadow: 5px 0 10px black;
}
.navbar-brand {
  z-index: 2;
}

/* utils */
.text-sm {
  font-size: 1rem;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content {
  min-height: 51vh;
}

/* news card */
.card-img {
  min-height: 30vh;
  max-height: 40vh;
}

.card-link {
  color: black;
  text-decoration: none;
}

/* footer */
.footer {
  margin-top: auto;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: black;
}

/* buttons */
.more-btn {
  border: none;
  background: none;
  font-weight: bold;
}

.more-btn::after {
  content: " -->";
}

.more-btn:hover {
  color: blue;
}
