@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

body {
  margin-top: 5rem;
}

.text-sm {
  font-size: 1rem;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.content {
  min-height: 51vh;
}

.card-img {
  min-height: 30vh;
  max-height: 40vh;
}

.card-link {
  color: black;
  text-decoration: none;
}

.footer {
  margin-top: auto;
}

.footer-link {
  color: white;
  text-decoration: none;
}

.footer-link:hover {
  color: black;
}

.more-btn {
  border: none;
  background: none;
  font-weight: bold;
}

.more-btn::after {
  content: " -->";
}

.more-btn:hover {
  color: blue;
}
